<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="amChartsQuickCharts" version="1.1" targetFramework="wp80" />
  <package id="GetOrgChart" version="1.2.1" targetFramework="wp80" />
  <package id="jQuery" version="2.1.4" targetFramework="wp80" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="wp80" />
  <package id="Sparrow.Chart.WP8" version="13.1.0.113" targetFramework="wp80" />
  <package id="Wensus.Client" version="2.2.4930.23639" targetFramework="wp80" />
  <package id="Wensus.WebClient" version="1.0.4861.19042" targetFramework="wp80" />
  <package id="WPFToolkit" version="3.5.50211.1" targetFramework="wp80" />
  <package id="WPFToolkit.DataVisualization" version="3.5.50211.1" targetFramework="wp80" />
  <package id="WPtoolkit" version="4.2013.08.16" targetFramework="wp80" />
</packages>